.App {
  font-family: sans-serif;
  text-align: center;
}

span {
  font-size: 25px;
  line-height: 200%;
}
.dot-red {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
